.blog p {
  line-height: 2.25rem;
  padding-bottom: 2rem;
  color: #54626c;
}
.blog *{
  font-family: IRANSans, vazir, sans-serif !important;
}

.blog img {
  object-fit: contain;
  border-radius: 2.75rem;
}

.blog strong {
  color:rgb(8 24 35 / var(--tw-text-opacity))
}
