@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'IRANSans';
    src: url('../public/IRANSans.ttf');
    font-weight: 400;
    font-style: normal;
}

:root,
[data-theme] {
    color: #fff
}

.navbarItem {
    color: #CDD2D6;
}

.navbarItem .active {
    color: #fff;
}