@tailwind base;

@layer base { 
    body {
        @apply text-white;
    }
    .full{
        @apply w-full h-full;
    }
}
@layer components { 
    .card {
        @apply absolute;
    }
    .btn{
        @apply flex items-center justify-center gap-2 py-2 px-4 rounded-xl outline-none;
    }
    .btn-primary {
        @apply text-white bg-primary hover:bg-[#6059EC];
    }
    .btn-outline-primary {
        @apply border-2 border-primary text-primary  hover:bg-[#f3f3ff];
    }
    .btn-primary-gradient { 
        @apply text-white rounded-2xl focus:outline-none focus:scale-[0.97] flex px-6 py-3 bg-gradient-to-r from-primary to-[#4183cc] hover:from-primary hover:to-primary;
    }
    .btn-accent {
        @apply text-white bg-accent hover:bg-[#54626D];
    } 
    .btn-ghost {
        @apply text-white border bg-transparent  border-[#e4e7e91a] hover:bg-[#e4e7e91a] hover:border-0 !important;
    }
    .btn-glass {
        @apply backdrop-blur border border-[#707070] text-[#cbcbcb] bg-[#aaaaaa63]
    }
    .glass {
        @apply backdrop-blur bg-[#ededed63]
    }
    /* animations */
    .transition-400-linear {
        @apply transition-all duration-[400ms] ease-in-out;
    }
    /* badge */
    /* form */
    .input{
        @apply bg-transparent py-3
    }
}

@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'IRANSans';
    src: url('../public/fonts/IRANSansWeb.ttf');
    font-weight: 400;
    font-style: normal;
}

[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
    outline: 0px !important;
    outline-offset: 0px !important;
    box-shadow: none !important;
}

video::-webkit-media-controls-panel {
    background-image: linear-gradient(transparent, transparent) !important;
}  

.navbarItem {
    color: #CDD2D6;
}

.navbarItem .active {
    color: #fff;
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
    display: none;
}